@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Raleway&display=swap');

p, ul, li, button {
  font-family: 'Raleway', sans-serif;
}

#navigation {
  // font-family: 'Playball', cursive;
  font-size: 1.2em;
}

.dropdown {
  list-style-type: none;
}

body {
  background-color: #d9c7b0;
  color: #333333;
  text-align: center;
  margin-top: 1px;
  // font-family: 'Playball', cursive;
}

.list-group-res {
  padding: 40px;
  text-align: left;
}

.ingredients {
  margin: auto;
}
// MENU
#menuItemImage {
  height: 150px;
  width: 250px;
}

#menuItemImage2 {
  height: 150px;
  width: 250px;
}

.media {
  margin: 10px;
  border: 1px solid darkgray;
}

#seating-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#seating-card {
  margin: 40px;
}
.dropdown-menu {
  padding: 10px;
}
